@model DAL.Models.Domain.ScholarshipSetup.SchemeLevelPayment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SchemeLevelPayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScholarshipFiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScholarshipFiscalYear.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevel.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SchemeLevelPaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
