@model IEnumerable<DAL.Models.Domain.ImportResult.DocumentAssistIndicator>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExcelColumnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentAssist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultRepository)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExcelColumnName.ExcelColumnNameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentAssist.DocumentAssistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultRepository.ResultRepositoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentAssistIndicatorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentAssistIndicatorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentAssistIndicatorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
