@model ScholarshipManagementSystem.Models.Domain.MasterSetup.DAEInstitute

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DAEInstitute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAbbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAbbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvienceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvienceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentageSlots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentageSlots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DAEInstituteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
