@model DAL.Models.Domain.MasterSetup.AnnualBudget

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnnualBudget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POMQuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POMQuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOMSQuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOMSQuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialQuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialQuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclineQuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclineQuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingReferancNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingReferancNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetLevel.BudgetLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScholarshipFiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScholarshipFiscalYear.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnnualBudgetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
