@model DAL.Models.Domain.VirtualAccount.Tranche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tranche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCommittedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCommittedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.PaymentMethodId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrancheId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
