@model DAL.Models.Domain.Student.ApplicantAttachment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ApplicantAttachment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant.ApplicantReferenceNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicantAttachmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
