@model ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.SelectionCriteria

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SelectionCriteria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultRepository)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultRepository.ResultRepositoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcelColumnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcelColumnName.ExcelColumnNameId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SelectionCriteriaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
