@model ScholarshipManagementSystem.Models.Domain.MasterSetup.DistrictDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DistrictDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaleRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaleRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemaleRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemaleRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CensesYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CensesYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowthRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowthRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.Code)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DistrictDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
