@model IEnumerable<ScholarshipManagementSystem.Models.Domain.MasterSetup.DistrictDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaleRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemaleRatio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CensesYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrowthRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaleRatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemaleRatio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CensesYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrowthRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
