@model DAL.Models.Domain.MasterSetup.DegreeScholarshipLevel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DegreeScholarshipLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeLevel.DegreeLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeScholarshipLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
