@model ScholarshipManagementSystem.Models.Domain.MasterSetup.SchemeLevel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SchemeLevel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scheme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scheme.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institute.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualificationLevel.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SchemeLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
