@model IEnumerable<ScholarshipManagementSystem.Models.Domain.MasterSetup.Institude>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAbbreviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvienceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FocalPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FocalPersonEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FocalPersonPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitudeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAbbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvienceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocalPersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocalPersonEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FocalPersonPhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitudeType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstitudeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstitudeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstitudeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
