@model IEnumerable<DAL.Models.Domain.Student.ApplicantStudent>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .modal-dialog {
        max-width: 730px;
    }
</style>
<ul class="list-unstyled" data-simplebar style="max-height: 470px;">

    @{ int counter = 1;}
    @foreach (var item in Model)
    {
        <li class="@((counter % 2) == 0 ? "right" : "")">
            <div class="conversation-list col-md-8">
                <div class="form-inline bg-soft-info">
                    <div class="media p-2" style="width:40%">
                        <div class="p-2">
                            <div class="align-self-center mr-3">
                                @if (item.ApplicationUserFrom == null)
                                {
                                    <img src="~/assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle" alt="">
                                }
                                else
                                {
                                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(item.ApplicationUserFrom.ProfilePicture))" alt="User!">
                                }
                            </div>
                            <div class="media-body">
                                <h5 class="font-size-15 m-0">@item.UserName</h5>
                                <p class="text-muted mb-0">@*<i class="mdi mdi-circle text-success align-middle mr-1"></i>*@ @item.ApplicantCurrentStatus.BEEFSection.Name</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-10" style="width:10%">
                        <i class="bx bx-right-arrow-alt m-4" style="font-size:18px"></i>
                    </div>
                    <div class="media p-2" style="width:40%">
                        <div>
                            <div class="align-self-center mr-3">
                                @if (item.ApplicationUserTo == null)
                                {
                                    <img src="~/assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle" alt="">
                                }
                                else
                                {
                                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(item.ApplicationUserTo.ProfilePicture))" alt="User!">
                                }
                            </div>
                            <div class="media-body">
                                <h5 class="font-size-15 m-0">@item.ForwardToUserName</h5>
                                <p class="text-muted mb-0">@*<i class="mdi mdi-circle text-success align-middle mr-1"></i>*@ @item.ApplicantCurrentStatus.BEEFSection.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ctext-wrap text-left rounded-0" style="min-height: 140px; background-color: rgba(85,110,230,.1)">
                    <p>
                        @item.Comments
                    </p>
                </div>
                <div class="form-inline bg-soft-info p-1">
                    <div style="width:50%">
                        @if (item.AttachFileData != null)
                        {
                            var base64 = Convert.ToBase64String(item.AttachFileData);
                            var pdfSrc = String.Format("data:application/pdf;base64,{0}", base64);
                            <span data-toggle="modal" data-src="@pdfSrc" data-target="#attachmentModal">
                                <i class="mdi mdi-attachment align-middle pl-1" style="font-size:21px"></i> Attachment
                            </span>
                        }
                    </div>
                    <div style="width:50%">
                        <p class="float-right chat-time pr-1 m-0"><i class="bx bx-time-five align-middle"></i> @item.CreatedOn.ToString("dd-MMM-yyyy HH:mm")</p>
                    </div>

                </div>
            </div>
        </li>
        counter++;
    }
</ul>


<div id="attachmentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title"><i class="bx bx-add-to-queue label-icon"></i> Generate Applicant Reference ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body pb-0">
                <embed id="pdfFileAttachment" src="" frameborder="0" width="100%" height="550px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".shower").click(function () {
            $('#pdfFileAttachment').attr("src", $(this).attr("data-src"));
        });
    });
</script>

