@model IEnumerable<ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.PolicySRCForum>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ScholarshipManagementSystem.Constants

@{
    ViewData["Title"] = "Index";
    ViewBag.pageTitle = "SRC Fourm";
    ViewBag.Title = "SRC Fourm";
    ViewBag.pTitle = "SRC Fourm";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@if (true)
{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Sweet Alert-->
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <div class="checkout-tabs">
        <div class="row">
            <div class="col-lg-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">                    
                    <a class="nav-link active" id="v-pills-gen-ques-tab" data-toggle="pill" href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques" aria-selected="true">
                        <i class="bx bxs-grid-alt d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">List of Policy SRC Forum</p>
                    </a>
                    <a class="nav-link" role="tab" asp-action="Create" asp-controller="PolicySRCForums" aria-controls="v-pills-privacy" aria-selected="false">
                        <img src="~/assets/images/processing.gif" height="60" />
                        <p class="font-weight-bold mb-4">Generate New Policy</p>
                    </a>
                    <a class="nav-link" id="v-pills-support-tab" data-toggle="pill" href="#v-pills-support" role="tab" aria-controls="v-pills-support" aria-selected="false">
                        <i class="bx bx-support d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">Support</p>
                    </a>
                    <a class="nav-link">
                        <i class="bx bx-help-circle d-block check-nav-icon mt-4 mb-2"></i>
                        <input type="button" class="btn btn-primary waves-effect waves-light" id="reset" value="Reset" />
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel" aria-labelledby="v-pills-gen-ques-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <h4 class="mt-2 card-title">List of Policy SRC Forum </h4>
                                </div>
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Fiscal Year
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                @* <th>
                                                        @Html.DisplayNameFor(model => model.Code)
                                                    </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.IsEndorse)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SRCMinutesAttachmentPath)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PolicyDocumentAttachmentPath)
                                                </th>
                                                @* <th>
                                                        @Html.DisplayNameFor(model => model.OtherAttachment)
                                                    </th>*@
                                                <th>Detail</th>
                                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Division.Edit)).Result.Succeeded)
                                                {
                                                    <th>Edit</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ScholarshipFiscalYear.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    @* <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>*@
                                                    @* <td>
                                                            @Html.DisplayFor(modelItem => item.Code)
                                                        </td>*@
                                                    <td>
                                                        @{
                                                            if (item.IsEndorse == true)
                                                            {
                                                                <p style="color:green">Yes</p>
                                                            }
                                                            else
                                                            {
                                                                <p style="color:orange">No</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.IsEndorse == true)
                                                            {
                                                                <a style="color:green">View</a>
                                                            }
                                                            else
                                                            {
                                                                <p style="color:orange">N/A</p>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            if (item.IsEndorse == true)
                                                            {
                                                                <a style="color:green">View</a>
                                                            }
                                                            else
                                                            {
                                                                <p style="color:orange">N/A</p>
                                                            }
                                                        }
                                                    </td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.OtherAttachment)
                                                        </td>*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                                        </td>*@
                                                    <td><a>View</a></td>
                                                    @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Division.Edit)).Result.Succeeded)
                                                    {
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.PolicySRCForumId" class="mr-2 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                        </td>
                                                    }

                                                    @*@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Division.Delete)).Result.Succeeded)
                                                        {
                                                            <td>
                                                                <a class="text-danger ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" asp-action="Delete" asp-route-id="@item.PolicySRCForumId"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                                                            </td>
                                                        }*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <h4 class="mt-2 card-title">Support</h4>
                                </div>

                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where can I get some?</h5>
                                        <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental</p>
                                    </div>
                                </div>
                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where does it come from?</h5>
                                        <p class="text-muted">Everyone realizes why a new common language would be desirable one could refuse to pay expensive translators.</p>
                                    </div>
                                </div>

                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Why do we use it?</h5>
                                        <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                    </div>
                                </div>
                                <div class="faq-box media mb-4">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">Where can I get some?</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
                                    </div>
                                </div>

                                <div class="faq-box media">
                                    <div class="faq-icon mr-3">
                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                                        <p class="text-muted">New common language will be more simple and regular than the existing European languages. It will be as simple as occidental.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- Sweet alert init js-->
<script src="~/assets/js/pages/sweet-alerts.init.js"></script>
<script type="text/javascript">
    $(function () {
       
        $("#reset").click(function () {
            Swal.fire({
                title: "Reset!",
                text: "Recent created policy has been reset!",
                type: "success", showCancelButton: !0,
                confirmButtonColor: "#556ee6",
                cancelButtonColor: "#f46a6a"
            });
            setTimeout(
                function () {
                    location.reload(true);
                }, 2000);
            $.ajax({
                type: "POST",
                url: "/PolicySRCForums/AjaxPostCall",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        //alert("Reset Successfully!");                                                                        
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }                
            });            
        });
    });

    @*$("#sa-success").click(function () {        
       
    });*@
</script>