

@model IEnumerable<DAL.Models.Domain.VirtualAccount.TrancheDocument>
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<table align="center" id="datatable" class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead>
        <tr>
            <th>
                <span><i class="bx bxs-file-doc font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.CSVAttachment)
            </th>
            <th>
                <span><i class="bx bx-loader font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.CSVAttachmentOn)
            </th>
            <th>
                <span><i class="bx bxs-file-blank font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.PGPAttachment)
            </th>
            <th>
                <span><i class="bx bx-loader font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.PGPGeneratedOn)
            </th>
            <th>
                <span><i class="bx bx-cloud-upload font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.IsSendToServer)
            </th>
            <th>
                <span><i class="bx bx-mail-send font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.IsEmail)
            </th>
            @* <th>
                    <span><i class="bx bx-closet font-size-18 align-middle mr-1"></i></span>@Html.DisplayNameFor(model => model.IsExecuteSuccessfully)
                </th>*@
            <th><span><i class="bx bx-cloud-upload font-size-18 align-middle mr-1"></i></span>Disbursment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.CSVAttachment">Download</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSVAttachmentOn)
                </td>
                @{
                    if (item.IsPGPGenerated)
                    {
                        <td>
                            @*<a href="@item.CSVAttachment">Download</a>*@
                            <span><img src="~/assets/images/tick.png" width="20" /></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PGPGeneratedOn)
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn btn-sm btn-outline-success" type="button" onclick="generatePGPFile(@item.TrancheDocumentId)">Generate PGP</button>
                        </td>
                        <td>
                            N/A
                        </td>
                    }
                }
                <td>
                    @{
                        if (item.IsPGPGenerated)
                        {
                            if (item.IsSendToServer)
                            {
                                <span><img src="~/assets/images/tick.png" width="20" /></span>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-outline-success" type="button" onclick="uploadSFTPFile(@item.TrancheDocumentId)">Send To Server</button>
                            }
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.IsPGPGenerated)
                        {
                            if (item.IsEmail)
                            {
                                <span><img src="~/assets/images/tick.png" width="20" /></span>
                            }
                            else
                            {
                                <button type="button" class="btn btn-sm btn-outline-success waves-effect waves-light" onclick="">Send Email</button>
                            }
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    }
                </td>
                @*<td>
                        @{
                            if (item.IsPGPGenerated)
                            {
                                if (item.IsExecuteSuccessfully == 1)
                                {
                                    <span><img src="~/assets/images/tick.png" width="20" /></span>
                                }
                                else if (item.IsExecuteSuccessfully == 0)
                                {

                                    <button type="button" class="btn btn-sm btn-outline-success waves-effect waves-light" onclick="">Passed</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger waves-effect waves-light" onclick="">Failed</button>
                                }
                                else
                                {
                                    <span><img src="~/assets/images/cross.png" width="20" /></span>
                                }
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        }
                    </td>*@
                <td>
                    @{
                        if (item.IsSendToServer)
                        {
                            <button type="button" class="btn btn-sm btn-outline-success waves-effect waves-light" onclick="setId(@item.TrancheDocumentId)" data-toggle="modal" data-target=".bs-example-modal-center">Upload</button>
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="currentTrancheDocumentId" value="0" />
<div id="myModal" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Attach File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="center">
                    <form id="uploadForm">
                        <div class="form-group">
                            <label class="control-label">Select Disbursement List (Excel)</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="ExcelFile" name="ExcelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                <label id="lblFile" class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="CallUploadFun()">Upload</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- JAVASCRIPT -->

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/assets/js/pages/form-element.init.js"></script>
<script>
    $(document).ready(function () {
        //$('#datatable-buttons').dataTable().fnClearTable();
        $('#datatable').dataTable().fnDestroy();
        $("#datatable").DataTable();
    });
    function setId(trancheDocumentId) {
        $('#currentTrancheDocumentId').val(trancheDocumentId);
    }

    function CallUploadFun() {
        var val = uploadDisbursementFile($('#currentTrancheDocumentId').val());
        if (val == 1) {
            alert('Success');
        }
    }
</script>