@model IEnumerable<DAL.Models.ViewModels.ApplicantInProcess.SPApplicantInProcessSummary>
@{
    ViewBag.pTitle = ViewBag.Title;
    ViewBag.pageTitle = "Applicant";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-xl-9 col-lg-8 p-0">
        <div class="card">
            <div id="fetchspinner" style="display:none" class="spinner-grow text-dark m-2 mb-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="ApplicantDataPlace">
            </div>           
        </div>
    </div>
        
    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-body p-4">
                @*<div class="search-box">
            <p class="text-muted">Search</p>
            <div class="position-relative">
                <input type="text" class="form-control rounded bg-light border-light" placeholder="Search...">
                <i class="mdi mdi-magnify search-icon"></i>
            </div>
        </div>*@
                <div class="title"> List of Scheme</div>
                <hr class="my-4">

                <div>
                    <p class="text-muted">List of In Process Applicant Cases</p>

                    <ul class="list-unstyled font-weight-medium">
                        @*<li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Design</a></li>*@
                        @foreach (var item in Model)
                        {
                        <li>
                            <a href="#" onclick=UpdateRecord(@(item.Applicant !=0 ? item.SchemeLevelId : 0)) class="text-muted py-2 d-block">
                                <i class="mdi mdi-projector-screen mr-1"></i>
                                @item.SchemeLevel
                                <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">@item.Applicant.ToString().PadLeft(2, '0')</span>
                            </a>                            
                        </li>
                        }
                        @*<li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Business</a></li>
                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Project</a></li>
                <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Travel<span class="badge badge-soft-success badge-pill ml-1 float-right font-size-12">12</span></a></li>*@
                    </ul>
                </div>

                @*<hr class="my-4">
                <div id="sidebar-menu">
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="bx bx-share-alt"></i>
                                <span key="t-multi-level">Multi Level</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-1-1">Level 1.1</a></li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a href="javascript: void(0);">Level 2.1</a></li>
                                        <li><a href="javascript: void(0);">Level 2.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>*@
            </div>
        <!-- end card -->
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            var SchemeLevelId = '@ViewBag.SchemeLevelId';                        
            var inbox = '@ViewBag.Inbox';                        
            fetchRecord(SchemeLevelId, inbox);
    })
        function fetchRecord(SchemeLevelId, inbox) {
            var MaxFYId = '@ViewBag.MaxFYId';
            var applicantCurrentStatusId = '@ViewBag.applicantCurrentStatusId';
            $("#fetchspinner").show();
            $.ajax({
                url: '@Url.Action("GetResultList", "Applicants")',
                data: {
                    MaxFYId: MaxFYId,
                    applicantCurrentStatusId: applicantCurrentStatusId,
                    SchemeLevelId: SchemeLevelId,
                    Inbox: inbox
                },
                success: function (data) {
                    $("#ApplicantDataPlace").html(data);
                    notificationme('Fetch Record Successfully!');
                    $("#fetchspinner").hide();
                }
            });
        }
        function UpdateRecord(SchemeLevelId) {
            if (SchemeLevelId != 0) {
                fetchRecord(SchemeLevelId);                
            } else {
                notificationme('No Record Found!');
            }
        }
        function notificationme(message) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "positionClass": "toast-bottom-right",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
            toastr.info(message);
        }


        function MoveToPend(applicantId, schemeLevelId) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You Want to Send Applicant File in "Pending Cases!"',
                type: "warning",
                showCancelButton: !0, confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, Back it!"
            }).then(function (t) {
                if (t.value == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Applicants/SendPend",
                        data: { applicantId: applicantId },
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                if (response.isValid) {
                                    Swal.fire("Back", response.message, "success");
                                    UpdateRecord(schemeLevelId);
                                } else {
                                    notificationme(response.message);
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            })
        }

        function MoveToPrimary(applicantId, schemeLevelId) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You Want to Resume Applicant File in "Primary Cases"',
                type: "success",
                showCancelButton: !0, confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, Back it!"
            }).then(function (t) {
                if (t.value == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Applicants/SendPrimary",
                        data: { applicantId: applicantId },
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                if (response.isValid) {
                                    Swal.fire("Back", response.message, "success");
                                    UpdateRecord(schemeLevelId);
                                } else {
                                    notificationme(response.message);
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            })
        }
        function MoveToISRC(applicantId, schemeLevelId) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You Want to Send Applicant File in "ISRC Forum"',
                type: "success",
                showCancelButton: !0, confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, Back it!"
            }).then(function (t) {
                if (t.value == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Applicants/SendISRC",
                        data: { applicantId: applicantId },
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                if (response.isValid) {
                                    Swal.fire("Back", response.message, "success");
                                    UpdateRecord(schemeLevelId);
                                } else {
                                    notificationme(response.message);
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            })
        }


        function ForwardCase(applicantId, schemeLevelId, ForwardId, AccessToForwardId) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You Want to Forward Applicant With Default Comments',
                type: "success",
                showCancelButton: !0, confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, Back it!"
            }).then(function (t) {
                if (t.value == true) {
                    $.ajax({
                        type: "POST",
                        url: "/Applicants/ForwardCase",
                        data: { applicantId: applicantId, ForwardId: ForwardId, UserAccessToForwardId: AccessToForwardId },
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                if (response.isValid) {
                                    Swal.fire("Back", response.message, "success");
                                    UpdateRecord(schemeLevelId);
                                } else {
                                    notificationme(response.message);
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            })
        }
    </script>
}