@model DAL.Models.Domain.Student.Applicant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<style>
    .page-title-box {
        padding: 0;
    }

    .inputSelect {
        background-color: #F8F8F8;
    }

    .inputBox:focus, .inputBox.focus {
        background-color: lightblue;
        border: 1px solid blue;
    }

    .title-hr {
        width: 100%;
        vertical-align: middle;
        align-items: center;
        text-align: start;
        display: flex;
    }

        .title-hr > span {
            padding: 0 0.4em;
            color: lightgray;
        }

        .title-hr > .hr {
            border-bottom: 1px solid lightgray;
            line-height: 0.1em;
            margin: 0.34em 0 0.35em;
            flex: 1 1 auto;
        }

            .title-hr > .hr.fix {
                flex: 0 1 auto;
            }

    .modal-dialog {
        height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
    }

    .modal-content {
        height: 100%; /* = 100% of the .modal-dialog block */
    }

    #PdfModal {
        height: 100%;
    }
</style>
<link rel="stylesheet" href="~/assets/libs/chenfengyuan/datepicker/datepicker.min.css">
<div class="container">
    <form asp-action="ApplicantFormEdit" enctype="multipart/form-data" class="custom-validation">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2"><div class="text-center"><img src="~/assets/images/logo1.png" width="120" style="padding-top:3px" /></div></div>
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <h4><b>BALOCHISTAN EDUCATION ENDOWMENT FUND (BEEF)</b></h4>
                                        <h6>A Company Setup Under Section 42 of the Companies Act, 2017</h6>
                                        <h6><b>SCHOLARSHIP APPLICATION FORM PARTIAL FUNDED SCHEME</b></h6>
                                        @{
                                            if (ViewBag.Message != null)
                                            {
                                                <span class="text-center" style="font-weight:bold;color:darkred"> @ViewBag.Message</span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2"><div class="text-center"><img src="~/assets/images/BEEF.png" width="90" /></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        <b>Current Applicant Status: </b> @Model.SelectionStatus
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input type="hidden" asp-for="ApplicantId" />
                        <input type="hidden" asp-for="DAEInstituteId" />
                        <input type="hidden" asp-for="TrancheId" />
                        <input type="hidden" asp-for="TrancheDocumentId" />
                        <input type="hidden" asp-for="IsDisbursed" />
                        <input type="hidden" asp-for="IsPaymentInProcess" />
                        <input type="hidden" asp-for="ApplicantCurrentStatusId" />
                        <input type="hidden" asp-for="ApplicantSelectionStatusId" />
                        <input type="hidden" asp-for="SchemeLevelPolicyId" />
                        <input type="hidden" asp-for="ScanDocument" />
                        <input type="hidden" asp-for="ScanOtherDocument" />
                        <input type="hidden" asp-for="ProvienceId" />
                        <input type="hidden" asp-for="RollNumber" />
                        <input type="hidden" asp-for="Name" />
                        <input type="hidden" asp-for="FatherName" />
                        <input type="hidden" asp-for="RegisterationNumber" />
                        <input type="hidden" asp-for="DistrictId" />
                        <input type="hidden" asp-for="Picture" />
                        <input type="hidden" asp-for="TotalGPA" />
                        <input type="hidden" asp-for="TotalMarks" />
                        <input type="hidden" asp-for="ReceivedCGPA" />
                        <input type="hidden" asp-for="ReceivedMarks" />
                        <input type="hidden" asp-for="SelectionMethodId" />
                        <input type="hidden" asp-for="SelectionStatus" />
                        <input type="hidden" asp-for="ApplicantReferenceNo" />
                        <input type="hidden" asp-for="EntryThrough" />
                        <input type="hidden" asp-for="IsFormSubmitted" />
                        <input type="hidden" asp-for="FormSubmittedOnDate" />
                        <input type="hidden" asp-for="StudentMobile2" />
                        <input type="hidden" asp-for="Attach_Affidavit" />
                        <input type="hidden" asp-for="Attach_CNIC_BForm" />
                        <input type="hidden" asp-for="Attach_DMC_Transcript" />
                        <input type="hidden" asp-for="Attach_Father_Death_Certificate" />
                        <input type="hidden" asp-for="Attach_Father_Mother_Guardian_CNIC" />
                        <input type="hidden" asp-for="Attach_Minority_Certificate" />
                        <input type="hidden" asp-for="Attach_Payslip" />
                        <input type="hidden" asp-for="Attach_Picture" />
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Basic Information</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="RegisterationNumber" class="control-label"></label>
                                                <input asp-for="RegisterationNumber" readonly="readonly" style="background-color: #f8f8f8" class="form-control" />
                                                <span asp-validation-for="RegisterationNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="RollNumber" class="control-label"></label>
                                                <input asp-for="RollNumber" readonly="readonly" style="background-color: #f8f8f8" class="form-control" />
                                                <span asp-validation-for="RollNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control inputBox" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FatherName" class="control-label"></label>
                                                <input asp-for="FatherName" class="form-control inputBox" />
                                                <span asp-validation-for="FatherName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Gender</label>
                                                <select asp-for="Gender" class="form-control inputSelect" asp-items="ViewBag.ddGenderList"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="DateOfBirth" class="control-label"></label>
                                                <input asp-for="DateOfBirth" value="@Model.DateOfBirth.ToString("dd/M/yyyy")" type="text" class="form-control inputBox" data-date-format="dd/M/yyyy" data-provide="datepicker">
                                            </div><!-- input-group -->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Religion" class="control-label"></label>
                                                <select asp-for="Religion" class="form-control inputSelect" asp-items="ViewBag.ReligionId"></select>
                                                <span asp-validation-for="Religion" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="TehsilName" class="control-label"></label>
                                                <input asp-for="TehsilName" class="form-control inputBox" />
                                                <span asp-validation-for="TehsilName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>BForm/CNIC</label>
                                                <div>
                                                    <input asp-for="BFormCNIC" id="bcnic" class="form-control inputBox input-mask" data-inputmask="'mask': '99999-9999999-9'" placeholder="Re-Type SmartID/CNIC" required />
                                                </div>
                                                <div class="mt-2">
                                                    <input value="@Model.BFormCNIC" class="form-control inputBox input-mask" data-inputmask="'mask':'99999-9999999-9'" required
                                                           data-parsley-equalto="#bcnic" placeholder="Re-Type SmartID/CNIC" />
                                                </div>
                                                <span asp-validation-for="BFormCNIC" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="DisbursementCNIC"></label>
                                                <div>
                                                    <input asp-for="DisbursementCNIC" class="form-control inputBox input-mask" data-inputmask="'mask': '99999-9999999-9'" placeholder="Disbursement CNIC" required />
                                                </div>
                                                <div class="mt-2">
                                                    <input value="@Model.DisbursementCNIC" class="form-control inputBox input-mask" data-inputmask="'mask': '99999-9999999-9'" required
                                                           data-parsley-equalto="#DisbursementCNIC"
                                                           placeholder="Re-Type Disbursement CNIC" />
                                                </div>
                                                @*<span asp-validation-for="FatherCareTakerCNIC" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="FatherCareTakerCNIC" class="control-label"></label>
                                                <input asp-for="FatherCareTakerCNIC" class="form-control inputBox input-mask" data-inputmask="'mask': '99999-9999999-9'" required />
                                                <span asp-validation-for="FatherCareTakerCNIC" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="RelationWithCareTaker" class="control-label"></label>
                                                <input asp-for="RelationWithCareTaker" class="form-control inputBox" required />
                                                <span asp-validation-for="RelationWithCareTaker" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Contact Information</h4>
                                    <div class="row">
                                        <div class="col-md-6 pm-4">
                                            <div class="form-group text-center m-0">
                                                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" width="150" />
                                            </div>
                                            <div class="text-center">
                                                <label style="background-color: #f8f8f8" class="control-label p-0 m-0">@Model.ApplicantReferenceNo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-center">
                                                @{
                                                    if (Model.Picture == null)
                                                    {
                                                        <img id="pic" style="border-width: 1px; border-style: solid;" class="rounded border-2" alt="155x150" width="130" height="150" src="~/assets/images/Profile.png" data-holder-rendered="true">
                                                    }
                                                    else
                                                    {
                                                        <img id="pic" style="border-width: 1px; border-style: solid;" class="rounded border-2" alt="155x150" width="130" height="150" src="@ViewBag.ImageData" data-holder-rendered="true">
                                                    }
                                                }
                                                <div class="custom-file text-left" style="margin-bottom:5px; width:135px">
                                                    <input accept="image/png, image/gif, image/jpeg" type="file" class="custom-file-input" name="picture" id="picture">
                                                    <label class="custom-file-label">Picture</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <div>
                                                    <input asp-for="StudentMobile" id="mobilenumber" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" required placeholder="Type Mobile Number" />
                                                </div>
                                                <div class="mt-2">
                                                    <input value="@Model.StudentMobile" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" required
                                                           data-parsley-equalto="#mobilenumber"
                                                           placeholder="Re-Type Mobile number" />
                                                </div>
                                                <span asp-validation-for="StudentMobile" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="StudentMobile2" class="control-label"></label>
                                                <label class="form-control" style="background-color: #f8f8f8;">@Model.StudentMobile2</label>
                                                <span asp-validation-for="StudentMobile2" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FatherMobile"></label>
                                                <div>
                                                    <input asp-for="FatherMobile" id="fmobile" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" placeholder="Type Mobile#" />
                                                </div>
                                                <div class="mt-2">
                                                    <input value="=@Model.FatherMobile" class="form-control inputBox input-mask" data-inputmask="'mask':'0399-9999999'"
                                                           data-parsley-equalto="#fmobile" placeholder="Re-Type Mobile#" />
                                                </div>
                                                <span asp-validation-for="FatherMobile" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control inputBox input-mask" parsley-type="email" data-inputmask="'alias': 'email'">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label asp-for="TelephoneWithCode" class="control-label"></label>
                                                <input type="number" asp-for="TelephoneWithCode" class="form-control inputBox" />
                                                <span asp-validation-for="TelephoneWithCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label asp-for="HomeAddress"></label>
                                                <div>
                                                    <textarea asp-for="HomeAddress" class="form-control" rows="2"></textarea>
                                                </div>
                                                <span asp-validation-for="HomeAddress" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Result Information</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Selection Method</label>
                                        <select style="background-color:#f8f8f8" asp-for="SelectionMethodId" disabled="disabled" class="form-control inputSelect" asp-items="ViewBag.ddMethodList"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Provience</label>
                                        <select style="background-color:#f8f8f8" disabled="disabled" asp-for="ProvienceId" class="form-control inputSelect" asp-items="ViewBag.ProvienceId"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Merit From</label>
                                        @*<select disabled="disabled" asp-for="DistrictId" asp-items="@ViewBag.DistrictId" class="form-control inputSelect">
                                                <option>-Select-</option>
                                            </select>*@
                                        <label style="background-color:#f8f8f8" class="form-control">@ViewBag.QoutaFrom</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="OldInstitudeNameAddress"></label>
                                        <div>
                                            <textarea asp-for="OldInstitudeNameAddress" class="form-control" rows="3"></textarea>
                                        </div>
                                        <span asp-validation-for="OldInstitudeNameAddress" class="text-danger"></span>
                                    </div>
                                </div>



                                @{
                                    if (Model.ReceivedMarks == 0)
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="TotalGPA" class="control-label"></label>
                                                <label class="form-control inputBox">@Model.TotalGPA</label>
                                                <span asp-validation-for="TotalGPA" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="TotalMarks" class="control-label"></label>
                                                <label class="form-control inputBox">@Model.TotalMarks</label>
                                                <span asp-validation-for="TotalMarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                }
                                @{
                                    if (Model.ReceivedMarks == 0)
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="ReceivedCGPA" class="control-label"></label>
                                                <label class="form-control inputBox">@Model.ReceivedCGPA</label>
                                                <span asp-validation-for="ReceivedCGPA" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label asp-for="ReceivedMarks" class="control-label"></label>
                                                <label class="form-control inputBox">@Model.ReceivedMarks</label>
                                                <span asp-validation-for="ReceivedMarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Current Insitute</h4>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteName" class="control-label"></label>
                                        <input asp-for="CurrentInsituteName" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsituteName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteHOD" class="control-label"></label>
                                        <input asp-for="CurrentInsituteHOD" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsituteHOD" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteFocalPerson" class="control-label"></label>
                                        <input asp-for="CurrentInsituteFocalPerson" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsituteFocalPerson" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteFocalDesignation" class="control-label"></label>
                                        <input asp-for="CurrentInsituteFocalDesignation" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsituteFocalDesignation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteFax" class="control-label"></label>
                                        <input asp-for="CurrentInsituteFax" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsituteFax" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsitutePhone" class="control-label"></label>
                                        <input asp-for="CurrentInsitutePhone" class="form-control inputBox" />
                                        <span asp-validation-for="CurrentInsitutePhone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteFocalMobile" class="control-label"></label>
                                        <input asp-for="CurrentInsituteFocalMobile" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" />
                                        <span asp-validation-for="CurrentInsituteFocalMobile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteFocalEmail" class="control-label"></label>
                                        <input asp-for="CurrentInsituteFocalEmail" class="form-control inputBox input-mask" parsley-type="email" data-inputmask="'alias': 'email'">
                                        <span asp-validation-for="CurrentInsituteFocalEmail" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="CurrentInsituteAddress"></label>
                                        <div>
                                            <textarea asp-for="CurrentInsituteAddress" class="form-control" rows="3"></textarea>
                                        </div>
                                        <span asp-validation-for="CurrentInsituteAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Upload Attachments</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <div class="col-md-4" style="margin-top:10px">
                                            <div class="custom-file">
                                                <input accept="application/pdf" asp-for="ScanDocument" type="file" class="custom-file-input" name="scannedDocument" id="scannedDocument">
                                                <label class="custom-file-label" style="justify-content:left" for="scannedDocument">Attachment</label>
                                            </div>
                                        </div>
                                        @{
                                            if (Model.ScanDocument != null)
                                            {
                                                <div class="col-md-3" style="margin-top:10px">
                                                    <div class="form-group">
                                                        <button type="button" data-toggle="modal" data-target="#myModal" onclick="createModal('@Model.ScanDocument')" class="btn btn-warning waves-effect btn-label waves-light"><i class="bx bxs-file label-icon"></i> View Documents</button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="col-md-4" style="margin-top:10px">
                                            <div>
                                                <label class="sr-only" for="inlineFormemail2">Email</label>
                                                <button type="submit" class="btn btn-info w-md" name="submitButton" value="Save">Save</button>
                                                <button type="submit" class="btn btn-success w-md" name="submitButton" value="SaveForward">Save &amp; Forward</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a class="m-2" asp-action="ApplicantFormEntry" asp-controller="Applicants" asp-route-id="@ViewBag.RRId">Back to List</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="container">

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="modal-title">Modal Header</h4>*@
                </div>
                <div class="modal-body">

                    <embed id="pdfFile" src="" frameborder="0" width="100%" height="100%">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>                

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- form mask -->
    <script src="~/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- form mask init -->
    <script src="~/assets/js/pages/form-mask.init.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <!-- bs custom file input plugin -->
    <script src="~/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script src="~/assets/js/pages/form-element.init.js"></script>
    <script>
        $(document).ready(function () {
            $("#ProvienceId").change(function () {
                $("#DistrictId").empty();
                $.get("/Applicants/GetDistricts", { provienceId: $("#ProvienceId").val() }, function (data) {
                    $("#DistrictId").empty();
                    $("#DistrictId").append('<option value="0">Select...</option>');
                    console.log(data);
                    $.each(data, function (index, row) {
                        console.log(row);
                        $("#DistrictId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
                return false;
            })
        });
        function ShowImagePreview(input) {
            debugger;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#pic').prop('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#picture").change(function () {
            ShowImagePreview(this);
        });
        function createModal(url) {
            $("#pdfFile").attr("src", url);
        }
    </script>
}