@model ScholarshipManagementSystem.Models.Domain.Student.Applicant

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFormCNIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFormCNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherCareTakerCNIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherCareTakerCNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationWithCareTaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationWithCareTaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantReferenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantReferenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TehsilName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TehsilName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteHOD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteHOD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteFocalPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteFocalPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteFocalDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteFocalDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteFocalMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteFocalMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteFocalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteFocalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsitutePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsitutePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentInsituteAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentInsituteAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RollNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedCGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedCGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldInstitudeNameAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldInstitudeNameAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameBoardUniversity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameBoardUniversity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneWithCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneWithCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanOtherDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanOtherDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.Code)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevel.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provience.Code)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeScholarshipLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeScholarshipLevel.DegreeScholarshipLevelId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicantId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
