@model DAL.Models.Domain.VirtualAccount.TrancheDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrancheDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSVAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSVAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSVAttachmentOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSVAttachmentOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPGPGenerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPGPGenerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PGPAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PGPAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PGPGeneratedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PGPGeneratedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PGPKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PGPKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSendToServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSendToServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tranche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tranche.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrancheDocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
