@model ScholarshipManagementSystem.Models.ViewModels.ViewUploadedResult
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ScholarshipManagementSystem.Constants

@{
    ViewData["Title"] = "Index";
    ViewBag.pageTitle = "Result";
    ViewBag.Title = "Repository";
    ViewBag.pTitle = "Repository";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}



@if (true)
{
<div class="checkout-tabs">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-success text-white-50">
                <div class="card-body">
                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Result Cleaned</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    @{
                        if (ViewBag.IsDataCleaned == false)
                        {
                            <button type="button" class="btn btn-dark waves-effect waves-light" >
                                <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Clean
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled">
                                <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Cleaned
                            </button>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-warning text-white-50">
                <div class="card-body">
                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-alert-outline mr-3"></i> Selection Criteria Applied</h5>
                    @{
                        if (ViewBag.IsDataCleaned == false)
                        {
                            if (ViewBag.IsDataCleaned == true)
                            {
                                <a asp-action="ApplyCriteria" asp-route-id="@ViewBag.Id" asp-controller="ResultContainers" class="btn btn-dark waves-effect waves-light">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Apply
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-dark waves-effect waves-light" disabled="disabled">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Data is Un-Cleaned
                                </button>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled">
                                <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Applied
                            </button>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-warning text-white-50">
                <div class="card-body">
                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-alert-outline mr-3"></i> Generate First Merit List</h5>
                    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <a asp-action="MeritGenerator" asp-controller="ResultContainers" asp-route-SLId="@ViewBag.SLId" asp-route-id="@ViewBag.Id" asp-route-FYearId="@ViewBag.FYearId" type="button" class="btn btn-dark waves-effect waves-light">
                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Generate Merit List
                </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel" aria-labelledby="v-pills-gen-ques-tab">
                            <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                <h4 class="mt-2 card-title">Detail of Result Record</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead style="text-align:center">
                                        <tr>
                                            @{
                                                <th>
                                                    <text>Indicator</text>
                                                </th>
                                                if (Model.columnLabel.C1 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.resultContainerList.ElementAt(0).ColumnLabel.C1)
                                                    </th>
                                                }
                                            }

                                            @{
                                                if (Model.columnLabel.C2 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C2)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C3 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C3)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C4 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C4)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C5 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C5)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C6 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C6)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C7 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C7)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C8 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C8)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C9 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C9)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C10 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C10)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C11 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C11)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C12 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C12)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C13 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C13)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C14 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C14)
                                                    </th>
                                                }
                                            }
                                            @{
                                                if (Model.columnLabel.C15 != "")
                                                {
                                                    <th>
                                                        @Html.DisplayFor(model => model.columnLabel.C15)
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody style="text-align:center">
                                        <tr>
                                            <td><b><i class="bx bx-right-arrow"></i> NULL</b></td>
                                            @if (Model.columnLabel.C1 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(0) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(0))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C2 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(1) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(1))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C3 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(2) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(2))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C4 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(3) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(3))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C5 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(4) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(4))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C6 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(5) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(5))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C7 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(6) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(6))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C8 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(7) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(7))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C9 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(8) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(8))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C10 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(9) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(9))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C11 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(10) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(10))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C12 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(11) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(11))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C13 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(12) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(12))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C14 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(13) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(13))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }
                                            @if (Model.columnLabel.C15 != "")
                                            {
                                                <td>
                                                    @if (@Model.compileResult.ElementAt(14) == 0)
                                                    {
                                                        <img src="~/assets/images/tick.png" height="15" alt="Pass" />
                                                    }
                                                    else
                                                    {
                                                        <span><b>(@Model.compileResult.ElementAt(14))</b> </span> <img src="~/assets/images/Cross.png" height="15" alt="Fail" />
                                                    }
                                                </td>
                                            }

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                    <h4 class="text-uppercase">Sorry, page not found</h4>
                    @*<div class="mt-5 text-center">
                            <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div>
                    <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
}
