@model DAL.Models.ViewModels.ViewUploadedResult
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ScholarshipManagementSystem.Constants

@{
    ViewData["Title"] = "Index";
    ViewBag.pageTitle = "Result";
    ViewBag.Title = "Repository";
    ViewBag.pTitle = "Repository";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />

@if (true)
{
    <div class="checkout-tabs">
        <div class="row">
            <div class="col-lg-4">

                @{
                    if (ViewBag.IsDataCleaned == false)
                    {
                        <div class="card bg-warning text-white-50">
                            <div class="card-body">
                                <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Result Cleaned</h5>
                                <button type="button" class="btn btn-dark waves-effect waves-light">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Clean
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card bg-success text-white-50">
                            <div class="card-body">
                                <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Result Cleaned</h5>
                                <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled" style="cursor:no-drop">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Cleaned
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4">

                @{
                    if (ViewBag.IsDataCleaned == true)
                    {
                        if (ViewBag.IsSelctionCriteriaApplied == false)
                        {
                            <div class="card bg-warning text-white-50">
                                <div class="card-body">
                                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Selection Criteria Applied</h5>
                                    @if (ViewBag.IsSelctionCriteriaDefined == 0)
                                    {
                                        <a asp-action="Index" asp-route-id="@ViewBag.Id" asp-controller="SelectionCriterias" class="btn btn-dark waves-effect waves-light">
                                            <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Define Criteria
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="ApplyCriteria" asp-route-id="@ViewBag.Id" asp-controller="ResultContainers" class="btn btn-dark waves-effect waves-light">
                                            <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Apply
                                        </a>
                                        <a asp-action="Index" asp-route-id="@ViewBag.Id" asp-controller="SelectionCriterias" class="btn btn-dark waves-effect waves-light float-right">
                                            <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> View
                                        </a>
                                    }

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card bg-success text-white-50">
                                <div class="card-body">
                                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Selection Criteria Applied</h5>
                                    <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled" style="cursor:no-drop">
                                        <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Applied
                                    </button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card bg-warning text-white-50">
                            <div class="card-body">
                                <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-alert-outline mr-3"></i> Selection Criteria Applied</h5>
                                <button class="btn btn-dark waves-effect waves-light" disabled="disabled" style="cursor:no-drop">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Data is Un-Cleaned
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4">
                @{
                    if (ViewBag.IsDataCleaned == true && ViewBag.IsSelctionCriteriaApplied == true)
                    {
                        <div class="card bg-warning text-white-50">
                            <div class="card-body">

                                @if (ViewBag.IsMeritListGenerated == true)
                                {
                                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-check-all mr-3"></i> Generate First Merit List</h5>
                                    <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled" style="cursor:no-drop">
                                        <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Merit List Generated
                                    </button>
                                }
                                else
                                {
                                    <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-information mr-3"></i> Generate First Merit List</h5>
                                    <a asp-action="MeritGenerator" asp-controller="ResultContainers" asp-route-SLId="@ViewBag.SLId" asp-route-id="@ViewBag.Id" asp-route-FYearId="@ViewBag.FYearId" type="button" class="btn btn-dark waves-effect waves-light">
                                        <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> Generate Merit List
                                    </a>
                                }

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card bg-danger text-white-50">
                            <div class="card-body">
                                <h5 class="mt-0 mb-4 text-white"><i class="mdi mdi-alert-outline mr-3"></i> Generate First Merit List</h5>
                                <button type="button" class="btn btn-dark waves-effect waves-light" disabled="disabled" style="cursor:no-drop">
                                    <i class="bx bx-loader bx-spin font-size-16 align-middle mr-2"></i> N/A
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel" aria-labelledby="v-pills-gen-ques-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <h4 class="mt-2 card-title">Detail of Result Records - <span style="color: black"><u>@ViewBag.SLName Scheme Level</u></span></h4>
                                </div>
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <div class="row">
                                        <div class="col-md-2">POMS: @Model.schemeLevelPolicy.POMS</div>
                                        <div class="col-md-2">DOMS: @Model.schemeLevelPolicy.DOMS</div>
                                        <div class="col-md-2">SQSOMS: @Model.schemeLevelPolicy.SQSOMS</div>
                                        <div class="col-md-2">SQSEVIs: @Model.schemeLevelPolicy.SQSEVIs</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">District</label>
                                            <select id="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Selection Method</label>
                                            <select id="SMethodId" class="form-control" asp-items="ViewBag.ddMethodList"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Selected Status</label>
                                            <select id="SStatusId" class="form-control" asp-items="ViewBag.ddStatusList"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="padding-top:30px" id="loading">
                                        <img src="~/assets/images/loading.gif" height="25" />
                                    </div>
                                    @*<div class="col-md-2">
                                        <label class="control-label">Manually</label>
                                        <a asp-action="Create" asp-controller="Applicants" asp-route-SLPId="@ViewBag.SLPId" class="btn btn-primary waves-effect waves-light">
                                            <i class="bx bx-user-plus font-size-16 align-middle mr-2"></i> Add Applicant
                                        </a>
                                    </div>*@
                                </div>
                                <div class="table-responsive" id="events">
                                    @(await Component.InvokeAsync("MeritList", new { id = 0, SLPId = ViewBag.SLPId, selectedMethod = 0, selectedStatus = "All", RRId = ViewBag.Id }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@*<div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4 float-sm-left">Fullfill Selection Criteria - DistrictWise</h4>
            <div class="clearfix"></div>

            <div id="stacked-column-chart" class="apex-charts" dir="ltr"></div>
        </div>
    </div>
*@


@section Scripts
{
    @*<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>*@
    <script>

    $(document).ready(function () {
        $("#loading").hide();
    });
    $('#DistrictId').change(function () {
        $("#loading").show();
        var slpId = '@ViewBag.SLPId';
        var rrId = '@ViewBag.Id';
        var val = $(this).val();
        var selectedM = $("#SMethodId").val();
        var selectedS = $("#SStatusId").val();
        debugger;
            $.ajax({
            url: '@Url.Action("ReloadEventMeritList", "ResultContainers")',
            data: {
                id: val,
                SLPId: slpId,
                selectedMethod: selectedM,
                selectedStatus: selectedS,
                RRId: rrId
            },
            success: function (data) {
                $("#events").html(data);
                $("#loading").hide();
            }
        });
    });
    $('#SMethodId').change(function () {
        $("#loading").show();
        var slpId = '@ViewBag.SLPId';
        var val = $("#DistrictId").val();
        var selectedM = $("#SMethodId").val();
        var selectedS = $("#SStatusId").val();
        debugger;
            $.ajax({
            url: '@Url.Action("ReloadEventMeritList", "ResultContainers")',
            data: {
                id: val,
                SLPId: slpId,
                selectedMethod: selectedM,
                selectedStatus: selectedS
            },
            success: function (data) {
                $("#events").html(data);
                $("#loading").hide();
            }
        });
    });
    $('#SStatusId').change(function () {
        $("#loading").show();
        var slpId = '@ViewBag.SLPId';
        var val = $("#DistrictId").val();
        var selectedM = $("#SMethodId").val();
        var selectedS = $("#SStatusId").val();
        debugger;
            $.ajax({
            url: '@Url.Action("ReloadEventMeritList", "ResultContainers")',
            data: {
                id: val,
                SLPId: slpId,
                selectedMethod: selectedM,
                selectedStatus: selectedS
            },
            success: function (data) {
                $("#events").html(data);
                $("#loading").hide();
            }
        });
    });
    </script>

    @*<script>
            $(document).ready(function () {
                var options = {
                    chart: {
                        height: 359,
                        type: "bar",
                        stacked: !0,
                        toolbar: { show: !1 },
                        zoom: { enabled: !0 }
                    },
                    plotOptions: {
                        bar: { horizontal: !1, columnWidth: "15%", endingShape: "rounded" }
                    },
                    dataLabels: { enabled: !1 },
                    series: [
                        {
                            name: "Applicate", data: [44, 55, 41, 67, 22, 43, 36, 52, 24, 18, 36, 48]
                        },
                        {
                            name: "Non Applicable", data: [13, 23, 20, 8, 13, 27, 18, 22, 10, 16, 24, 22]
                        },
                    ],
                    xaxis: {
                        categories: ["Awaran", "Barkhan", "Chaghi", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                    },
                    colors: ["#556ee6", "#f1b44c"],//, "#34c38f"],
                    legend: { position: "bottom" },
                    fill: { opacity: 1 }
                },
                    chart = new ApexCharts(document.querySelector("#stacked-column-chart"), options); chart.render(); options = { chart: { height: 180, type: "radialBar", offsetY: -10 }, plotOptions: { radialBar: { startAngle: -135, endAngle: 135, dataLabels: { name: { fontSize: "13px", color: void 0, offsetY: 60 }, value: { offsetY: 22, fontSize: "16px", color: void 0, formatter: function (e) { return e + "%" } } } } }, colors: ["#556ee6"], fill: { type: "gradient", gradient: { shade: "dark", shadeIntensity: .15, inverseColors: !1, opacityFrom: 1, opacityTo: 1, stops: [0, 50, 65, 91] } }, stroke: { dashArray: 4 }, series: [67], labels: ["Series A"] }; (chart = new ApexCharts(document.querySelector("#radialBar-chart"), options)).render();
            });
        </script>*@
}
