@model DAL.Models.Domain.ScholarshipSetup.DegreeLevelQoutaBySchemeLevel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DegreeLevelQoutaBySchemeLevel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassEnrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotAllocate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotAllocate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalSlotAllocate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalSlotAllocate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StipendAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StipendAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Threshold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Threshold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevelPolicy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevelPolicy.SchemeLevelPolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SRCForum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SRCForum.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeScholarshipLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeScholarshipLevel.DegreeScholarshipLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeLevelQoutaBySchemeLevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
