@model IEnumerable<DAL.Models.Domain.ScholarshipSetup.DegreeLevelQoutaBySchemeLevel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassEnrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotAllocate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalSlotAllocate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StipendAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemeLevelPolicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SRCForum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeScholarshipLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassEnrollment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotAllocate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalSlotAllocate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StipendAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Threshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemeLevelPolicy.SchemeLevelPolicyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SRCForum.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeScholarshipLevel.DegreeScholarshipLevelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeLevelQoutaBySchemeLevelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeLevelQoutaBySchemeLevelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeLevelQoutaBySchemeLevelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
