@model ScholarshipManagementSystem.Models.Domain.MasterSetup.ResultRepository

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResultRepository</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resultFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resultFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScholarshipFiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScholarshipFiscalYear.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevelPolicy.SchemeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevelPolicy.SchemeLevel.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResultRepositoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
