@model IEnumerable<DAL.Models.Domain.MasterSetup.SeverityLevel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeverityLevelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeverityLevelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeverityLevelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
