@model IEnumerable<DAL.Models.Domain.MasterSetup.UserAccessToPaymentMethod>

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Access Rights";
    ViewBag.pTitle = "Access Rights";
    ViewBag.pageTitle = "Green Note";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group"><a asp-action="AssignRights" asp-route-Id="@ViewBag.Id"><i class="far fa-user-plus"></i> Add Access Rights</a></div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                @ViewBag.UserName - List of Access Permissions to Payment Method
            </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>