@model DAL.Models.Domain.VirtualAccount.Trunch

@{
    ViewBag.Title = "Edit";
    ViewBag.pTitle = "Edit";
    ViewBag.pageTitle = "Trunch";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}


<hr />

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrunchId" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CurrentCommittedAmount" />
            <input type="hidden" asp-for="ApplicantCount" />            
            <input type="hidden" asp-for="PaymentMethodId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select disabled="disabled" asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
        </div>   
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ApprovedOn" class="control-label"></label>
                <input asp-for="ApprovedOn" class="form-control" />
                <span asp-validation-for="ApprovedOn" class="text-danger"></span>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLock" /> @Html.DisplayNameFor(model => model.IsLock)
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClose" /> @Html.DisplayNameFor(model => model.IsClose)
                </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Approved Attachment</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="attachment" name="attachment" accept="application/pdf">
                    <label class="custom-file-label" for="attachment">Choose file</label>
                </div>
            </div>  
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>        
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
