@model IEnumerable<ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.DistrictQoutaBySchemeLevel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Threshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentYearPopulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictPopulationSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictMPISlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SRCForum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Threshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentYearPopulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictPopulationSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictMPISlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SRCForum.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictQoutaBySchemeLevelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictQoutaBySchemeLevelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictQoutaBySchemeLevelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
