@model DAL.Models.Domain.ScholarshipSetup.SchemeLevelPolicy

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SchemeLevelPolicy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScholarshipSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScholarshipSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.POMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.POMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SQSOMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SQSOMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SQSEVIs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SQSEVIs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicySRCForum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicySRCForum.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeLevel.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SchemeLevelPolicyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
