@model DAL.Models.Domain.MasterSetup.InstituteFaculty

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstituteFaculty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institute.InstituteId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstituteFacultyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
