@model ScholarshipManagementSystem.Models.Domain.MasterSetup.InstituteFaculty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>InstituteFaculty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalPersonDesignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalPersonDesignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institute.InstituteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstituteFacultyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
